extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "test task"
	- title = "test"
	- meta.viewport = "width=device-width, initial-scale=1"
	
block content
	//start project 14:12
	
	//start header 14:12
	.header.flex
		.menu-mobile
			.mobile-line._1
			.mobile-line._2
			.mobile-line._3
		ul.menu.flex
			mixin menu_item(anchor, link_name)
				li.menu-list.flex
					a(href=anchor).menu-link=link_name
			+menu_item('#info', 'Личная информация')
			+menu_item('#experience', 'Опыт')
			+menu_item('#js', 'JavaScript')
			+menu_item('#about', 'О себе')
	//end header 14:15

	//start main title
	.main-title
		.main-bg
		h1.h1 Анкета	
	//end main title 14:15

	//start info
	.main
		.info#info
			.block-icon
				img(src="images/info.svg")
			h2.block-title Личная информация
			.info-inputs
				.info-input--item
					span.info-input--subtext ФИО
					input(type="text" name="name" value="Христев Роман Борисович").info-input
				.info-select
					.select
						select.info-input
							option(value="1990") 1990
							option(value="1991") 1991
							option(value="1992") 1992
							option(value="1993") 1993
							option(value="1994") 1994
							option(value="1995" selected="selected") 1995
							option(value="1996") 1996
							option(value="1997") 1997
							option(value="1998") 1998
				.info-input--item
					span.info-input--subtext Место проживания
					input(type="text" name="place"  value="Одесса").info-input
				.info-input--item
					span.info-input--subtext Skype
					input(type="text" name="skype"   value="dalnikcc@gmail.com").info-input
				.info-input--item
					span.info-input--subtext E-mail
					input(type="text" name="e-mail"  value="dalnikcc@gmail.com").info-input
		//end info 14:22

		//start experience
		.experience#experience
			.block-icon
				img(src="images/experience.svg")
			h2.block-title Расскажите о своем опыте
			.experience-checkboxes.flex
				mixin checkbox(id, label)
					.checkbox-item
						input(type="checkbox" name=id id=id checked='checked').checkbox-input
						label.checkbox-label(for=id)=label
						span.checkbox-mask
				+checkbox('css-frameworks', 'БЭМ/OOCSS')
				+checkbox('css-preprocessor', 'Stylus/LESS/SASS')
				+checkbox('svg', 'Работаю с SVG')
				+checkbox('semantic', 'Верстаю семантично')
				+checkbox('js-standart', 'ES2015/ES2016')
				+checkbox('collector', 'Gulp/GRUNT') 
				.checkbox-item
					input(type="checkbox" name='webpack' id='webpack' ).checkbox-input
					label.checkbox-label(for='webpack') Webpack
					span.checkbox-mask
				+checkbox('jquery', 'jQuery')
				+checkbox('git', 'Ипользую Git') 
		//end experience 14:32

		//start js
		.js#js
			.block-icon
				img(src="images/js.svg")
			h2.block-title Уровень владениея JavaScript
			.slider-wrap
				.slider-points.flex
					p.slider-point._1 Не владею
						span.slider-dot.slider-dot--fisrt ....... 
					p.slider-point._2 Использую готовые решения
						span.slider-dot.slider-dot--sec ......
					p.slider-point._3 Использую готовые решения и умею их переделывать
						span.slider-dot.slider-dot--third ..... 
					p.slider-point._4 Пишу сложный JS с нуля
						span.slider-dot.slider-dot--last ....
				.slider
					.slider-runner
					.slider-shadow
					.slider-mask
					.slider-btn
		//end js 14:37

		//start about
		.about#about
			.block-icon
				img(src="images/experience.svg")
			h2.block-title Расскажите о себе
			p.about-summary Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.
			textarea(name="tell_smth", cols="3", rows="1" placeholder="Понравилась тем, что..." ).about-text Мне заинтересовало то, что компания давно на рынке и имеет большое количество готовых работ. Хотел бы стать частью команды т.к. считаю, что работа с Вами позволит мне участвовать в различных интересных проектах. Так же, понравилось тествое задание, которое было непростым, но интересным, я такие предпочитаю
		//end experience 14:40

		//start done
		.done
			button.done-btn Готово
		//end done 14:40

	script(src="js/jquery-3.1.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")