@import "reset.css" 
@import "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" 

@mixin translate($transform-x : 0, $transform-y : 0)
 	-moz-transform: translate($transform-x, $transform-y)
 	-o-transform: translate($transform-x, $transform-y)
 	-ms-transform: translate($transform-x, $transform-y)
 	-webkit-transform: translate($transform-x, $transform-y)
 	transform: translate($transform-x, $transform-y)

@mixin transition($value : 0.3s)
 	-webkit-transition: $value
 	-moz-transition: $value
 	-ms-transition: $value
 	-o-transition: $value
 	transition: $value

@mixin radius($border-radius)
 	-webkit-border-radius: $border-radius
 	-moz-border-radius: $border-radius
 	border-radius: $border-radius

@mixin rotate($value, $transition : 0.3s)
 	-webkit-transform: rotate($value)
 	-moz-transform: rotate($value)
 	-ms-transform: rotate($value)
 	-o-transform: rotate($value)
 	transform: rotate($value)
 	@include transition($transition)

@mixin scale($value)
 	-webkit-transform: scale($value)
 	-moz-transform: scale($value)
 	-ms-transform: scale($value)
 	-o-transform: scale($value)
 	transform: scale($value)  

@mixin hidden_tag($value : 0.3s)
 	opacity: 0
 	visibility: hidden
 	@include transition($value)

@mixin visible_tag($value : 0.3s)
 	opacity: 1
 	visibility: visible
 	@include transition($value)

@mixin bg_img
 	background-repeat: no-repeat
 	background-position: 50%
 	background-size: contain

@mixin animation ($name, $duration, $delay, $fill)
  -webkit-animation: $name $duration $delay $fill
  -moz-animation: $name $duration $delay $fill
  -o-animation: $name $duration $delay $fill
  animation: $name $duration $delay $fill

@mixin box_shadow($shadow)
	-webkit-box-shadow: $shadow
	-moz-box-shadow: $shadow
	box-shadow: $shadow

@mixin hide_placeholde($time)
	&::-webkit-input-placeholder 
		opacity: 1
		transition: opacity $time ease
	&::-moz-placeholder
		opacity: 1
		transition: opacity $time ease
	&:-moz-placeholder
		opacity: 1
		transition: opacity $time ease
	&:-ms-input-placeholder
		opacity: 1
		transition: opacity $time ease
	&:focus::-webkit-input-placeholder 
		opacity: 0
		ansition: opacity $time ease
	&:focus::-moz-placeholder
		opacity: 0
		ansition: opacity $time ease
	&:focus:-moz-placeholder
		opacity: 0
		ansition: opacity $time ease
	&:focus:-ms-input-placeholder
		opacity: 0
		ansition: opacity $time ease	

@mixin placeholder($color)
	&::-webkit-input-placeholder
	 	color: $color
	&::-moz-placeholder
		color: $color
	&:-ms-input-placeholder
  		color: $color
	&:-moz-placeholder
  		color: $color

@font-face 
	font-family: "Roboto Regular"
	src: url("../fonts/Roboto-Regular.ttf")

@font-face 
	font-family: "Roboto Light"
	src: url("../fonts/Roboto-Light.ttf")
	

body *
	font-family: "Roboto Regular"
	line-height: 1.3

img
	max-width: 100%	

input,
textarea
	&:focus
		outline: none

button
	&:active,
	&:focus
		outline: none

a
	&:active,
	&:hover
		text-decoration: none		

.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex 

.block-icon
	text-align: center
	margin-bottom: 15px

.block-title 
	font-size: 30px; 
	font-family: "Roboto Light"
	text-align: center;	

//start header 14:44
.header
	position: absolute
	top: 0
	width: 100%
	text-align: center
	height: 79.6px
	@include transition(0.5s)

.header-active
	position: fixed
	background-color: #fff
	z-index: 999
	top: 0
	height: 60px
	@include box_shadow(0 0 5px 5px #e1e1e1)
	@include transition(0.5s)

.menu
	justify-content: space-between
	width: 520px
	margin: 0 auto

.menu-list
	align-items: center
	
.menu-link
	font-size: 14px;
	color: #50649A
	display: block
	box-sizing: border-box
	// padding: 31px 8px
	&:hover
		color: #000
//end header 14:53

//start main title
.main-title
	margin-top: 79.6px
	position: relative

.main-bg	
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: -1
	background-image: url('../images/bg.jpg')
	background-size: 100%
	@include box_shadow(inset 0px -59px 52px 0 #fff)

.h1
	text-align: center
	font-size: 70px
	padding-top: 110px
	font-family: "Roboto Light"

//end main title 14:59

//start info
.main
	max-width: 768px
	margin: 0 auto

.info
	max-width: 520px
	margin: 56px auto 0

.info-inputs
	margin-top: 46px
	
.info-input, 
.select2-selection--single
	width: 100%
	padding: 19px 10px
	box-sizing: border-box
	text-align:  center
	border: 1px solid #e5e5e5;
	@include radius(5px)
	&:focus
		border-color: #435993

.info-input--item
	position: relative
	margin-bottom: 27px


.info-input--subtext
	position: absolute
	left: 50%
	top: 50%
	font-size: 24px
	color: #c8c8c8
	@include translate(-50%, -50%)
	@include transition

.info-input--active
	.info-input--subtext
		font-size: 14px
		top: 3px
		@include translate(-50%, 0)
		@include transition
	.info-input
		border-color: #435993

.info-select
	margin: 0 auto 27px
	max-width: 320px

.select2-container--open 
	.select2-dropdown--below
		padding: 5px
		margin-top: 2px	
		@include radius(5px)
		@include box_shadow( 0 0 8px rgba(0,0,0,0.2))
	.select2-selection__arrow
		@include rotate(180deg)

.select2-results__options 
	padding-right: 5px
	&::-webkit-scrollbar
		width: 4px
		right: 5px
	&::-webkit-scrollbar-track
		background-color: transparent 
	&::-webkit-scrollbar-thumb
		@include radius(5px)
		background-color: #d9d9d9 

.select2-results__option
	text-align: center
	color: #5C6FA1
	font-size: 20px

.select2-selection
	width: 320px
	
.select2-container--default .select2-selection--single .select2-selection__arrow
	background-image: url('../images/arrow.svg')
	width: 15px;
	height: 10px;
	top: 24px
	right: 11px
	background-repeat: no-repeat
	@include transition
	b
		display: none
 	

.select2-container--default .select2-selection--single
	box-sizing: content-box
	padding: 14px 0 13px
	width: 318px
	border-color: #e5e5e5
	@include radius(5px)
	&:focus	
		outline: none
		
.select2-container--default .select2-selection--single .select2-selection__rendered
	color: #c8c8c8

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single
	@include radius(5px)


.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color: transparent
	color: #5C6FA1

.select2-container--default .select2-results__option[aria-selected=true]
	background-color: transparent	
//end info 16:40

//start	experience
.experience
	margin-top: 38px

.experience-checkboxes	
	margin-top: 48px
	flex-wrap: wrap
	justify-content: space-between

.checkbox-item
	position: relative
	padding-left: 30px
	flex-basis: 180px
	margin-bottom: 15px

.checkbox-mask	
	position: absolute
	left: 0
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border: 1px solid #435993;
	z-index: 10
	@include radius(3px)
	&:after
		position: absolute
		display: none
		content: ''
		background-image: url('../images/arrow_white.svg')
		width: 12px;
		height: 8px
		left: 50%
		top: 50%
		z-index: 200
		@include translate(-50%,-50%)

.checkbox-input
	position: absolute
	left: 0
	width: 20px
	height: 20px
	opacity: 0
	border: 1px
	cursor: pointer
	z-index: 100
	&:hover ~ .checkbox-mask	
		background-color: #e9efff
	&:checked ~ .checkbox-mask
		background-color: #435993
		&:after
			display: block
//end experience 16:51
	
//start	js
.js
	margin-top: 117px
	padding-bottom: 28px

.slider
	position: relative
	margin-top: 17px

.slider-wrap
	margin-top: 43px	

.slider-points
	justify-content: space-between

.slider-point
	position: relative
	display: inline-block
	max-width: 180px
	font-size: 13px
	&:after
		position: absolute
		content: ''
		left: -2px
		background-color: #fff
		top: 53px
		height: 20px
		width: 2px
		z-index: 300
	&._1
		padding-top: 19px
	&._2
		max-width: 140px
		margin-left: 63px
	&._4
		padding-top: 19px
		&:after
			left: initial
			right: -1px

.slider-dot
	position: absolute
	left: -6px
	top: 100%
	z-index: 300
	@include rotate(90deg)

.slider-dot--fisrt
	top: 44px
	
.slider-dot--sec
	top: 40px

.slider-dot--third
	top: 37px

.slider-dot--last
	left: initial
	right: -10px
	top: 34px


.slider-runner
	margin-left: -10px
	border-left: 768px solid transparent;
	border-bottom: 14px solid #E8E8E8;	

.slider-btn
	position: absolute
	top: 110%
	left: 70%
	background-image: url('../images/slider.svg')
	width: 24px
	height: 27px	
	cursor: pointer
	z-index: 400
	@include bg_img

.slider-shadow
	position: absolute
	top: 0
	width: 71.7%
	height: 14px
	background-image: -webkit-linear-gradient(left, #CCB1F1 0%, #435993 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 )
	z-index: 90

.slider-mask
	position: absolute
	border-right: 768px solid transparent;
	border-top: 14px solid #fff;
	top: 0
	z-index: 100
//end js 17:20 + 40min

//start about 18:10
.about
	margin: 75px auto 0 
	max-width: 520px

.about-summary
	text-align: center;
	max-width: 500px
	margin-top: 11px;
	line-height: 1.4;

.about-text
	width: 100%
	height: 140px;
	margin-top: 38px
	padding: 20px
	font-size: 20px
	border: 1px solid #e5e5e5;
	box-sizing: border-box
	resize: none
	@include placeholder(#c8c8c8)
	@include radius(5px)
//end about 18:25

//start done 18:25
.done
	margin-top: 62px
	text-align: center
	padding-bottom: 50px

.done-btn	
	width: 115px;
	height: 50px;
	color: #fff
	background-color: #435993;
	border: 0
	cursor: pointer
	@include radius(10px)
	@include transition
	&:hover
		background-color: #435993 * 0.8;
		@include transition
//end done 18:33		

//===============
//pause 1 hour
//start 19:10
//===============

.menu-mobile 
	display: none

//media 20:08
@media screen and(max-width: 768px) {
.header
	height: 40px

.menu-mobile 
	display: block
	position: absolute
	right: 20px
	top: 0px
	display: block
	width: 40px
	height: 36px

.mobile-line 
	position: absolute
	left: 8px
	height: 2px
	width: 24px
	background-color: #b7b2b2
	@include transition

.mobile-line._1 
	top: 8px

.mobile-line._2 
	top: 17px

.mobile-line._3 
	top: 26px

.menu
	position: absolute
	right: 65px
	top: 20px
	width: 220px
	height: initial
	overflow: hidden
	flex-direction: column
	background-color: rgba(204, 204, 204, 1)
	z-index: 999
	@include radius(10px)
	@include hidden_tag

.menu-link
	padding: 5px 10px
	width: 100%
	&:hover
		background-color: #696969
		color: #fff
.mobile-line._1--active 
	-webkit-transition: 0.3s
	top: 17px
	@include rotate(45deg)
	@include transition

.mobile-line._2--active 
	display: none
	@include transition

.mobile-line._3--active 
	top: 17px
	@include rotate(-45deg)
	@include transition


.menu-show 
	@include visible_tag

.main
	padding: 0 15px

.slider-shadow
	width: 72%

.main-title
	margin-top: 44px	

.js
	overflow: hidden	
	
.slider-points
	display: none}


@media screen and(max-width: 480px) {
.slider-shadow
	width: 74.3%

.select2-container--default .select2-selection--single
	width: 100% }

//media end 20:44	